{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">


{% if latest_question_list %}
    <ul> <!-- ul - Создает маркированный список. -->
        {% for question in latest_question_list  %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        <!-- li - Элемент маркированного или нумерованного списка -->
        <!-- a - Создаёт гипертекстовые ссылки -->
        <!-- параметр href - Задает адрес документа, на который следует перейти. -->
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available</p> <!-- p - Параграфы в тексте -->
{% endif %}
